<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Biblio">
      <section name="EventStore" type="Biblio.Configuration.EventStoreSectionHandler, Biblio.Configuration" />
    </sectionGroup>
  </configSections>
  <Biblio>
    <EventStore uri="127.0.0.1" port="2113" user="admin" password="changeit"></EventStore>
  </Biblio>
</configuration>